.homepage-hero h2 {
  font-family: museo-slab, serif;
  font-weight: 700;
}

.homepage-items .menupage-thumbnail span:first-of-type {
  position: relative;
}
.homepage-specials {
  background-image: url("../../assets/homepage-bkg-illustrations-black.png");
  background-repeat: no-repeat;
  background-size: cover;
}
