/* carousel */
.carousel-wrapper {
  display: grid;
  align-content: start;
}
.carousel-container {
  overflow-y: hidden;
  margin-bottom: calc(-0.1 * var(--gutter));
}
.special-carousel {
  margin: 2rem auto 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;

  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  /* grid-template-columns: DYNAMIC */
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.5 * var(--gutter));
}
@media screen and (min-width: 1200px) {
  .special-carousel {
    max-width: calc(1200px + var(--gutter));
  }
}
.special-carousel::-webkit-scrollbar {
  display: none;
}
.carousel-item {
  width: 400px;
  height: 400px;
  scroll-snap-align: start;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;

  background: url(../../../assets/circle-outline-1.svg) center no-repeat;
  background-size: contain;
  box-sizing: border-box;
}
.carousel-item:nth-of-type(2) {
  background: url(../../../assets/circle-outline-2.svg) center no-repeat;
  background-size: contain;
}
.carousel-item:nth-of-type(3) {
  background: url(../../../assets/circle-outline-3.svg) center no-repeat;
  background-size: contain;
}
.carousel-item .item {
  padding: 0 4rem;
  color: var(--red-color);
}

.carousel-item .item .item-title {
  color: var(--red-color);
  margin: 0;
}
.carousel-item .item .item-code {
  color: var(--green-color);
}
.carousel-dot {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 10px;
  border: none;
  background-color: #ffffff;
}
.carousel-dot.active {
  background-color: var(--green-color);
}
