.locations-page {
  height: 100vh;
  display: flex;
  align-items: stretch;
}
.locations-page .featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.locations-page .responsive-column-container .content {
  padding-top: calc(106px + 2rem);
}
