.page-container {
  width: calc(90% - 40px);
  max-width: 1300px;
  margin: 70px auto 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--cream-color);
  color: var(--green-color);
}
.full-page-container {
  width: 100%;
  min-height: calc(100vh - 240px);
  margin: 0 auto;
  padding: 120px 0;
  background-color: var(--cream-color);
}
.responsive-column-container {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.responsive-column-container .content {
  padding: 0 2rem;
}
@media screen and (min-width: 767px) {
  .responsive-column-container .content {
    width: calc(80% - 2rem);
  }
}
/* Heading styles */
h1,
h2,
h3,
h5,
h6 {
  font-family: nexa-rust-sans-black-2, sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1.1;
  margin: 0 0 0.5em 0;
}
h4 {
  font-family: museo-slab, serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  margin: 0 0 0.5em 0;
}

h1 {
  font-size: clamp(2.2rem, 8.5vw, 3.5rem);
}

h2 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h3 {
  font-size: clamp(1.37rem, 3.5vw, 1.875rem);
}

h4 {
  font-size: clamp(1.25rem, 3.5vw, 1.5rem);
}
h5 {
  font-size: clamp(1.25rem, 3.5vw, 1.5rem);
}
h6 {
  font-size: clamp(1.05rem, 2.2vw, 1.125rem);
}

/* HTML elements */
button,
a.primary-btn {
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.875em;
  font-weight: 500;
  font-family: nexa-rust-sans-black-2, sans-serif;
  background-color: var(--red-color);
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
img {
  display: block;
  max-width: 100%;
}
nav:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}
nav,
ol,
ul {
  padding-left: 0;
}

/* Helper classes */
.text-align-center {
  text-align: center;
}
.flex-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
