:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  --cream-color: #f3f0eb;
  --red-color: #ee3124;
  --green-color: #004f39;
  --gray-color: #303030;
  --bkg-color: var(--red-color);
  background-color: var(--bkg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
* *::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
  box-sizing: border-box;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

a {
  font-weight: 500;
  color: var(--green-color);
  text-decoration: inherit;
}
/*
a:hover,
a:focus {
  color: #11177f;
}
*/
body {
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}
