:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  --cream-color: #f3f0eb;
  --red-color: #ee3124;
  --green-color: #004f39;
  --gray-color: #303030;
  --bkg-color: var(--red-color);
  background-color: var(--bkg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
* *::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
  box-sizing: border-box;
}
body {
  margin: 0;
}
#root {
  height: 100vh;
  width: 100vw;
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "footer";
}

#root > main {
  grid-area: main;
}

#root > footer {
  grid-area: footer;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
a {
  color: inherit;
  text-decoration: inherit;
}

p a {
  color: var(--red-color);
  text-decoration: underline;
  font-weight: inherit;
}
/*
a:hover,
a:focus {
  color: #11177f;
}
*/
