@media all and (min-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem auto 0;
    padding: var(--navbar-padding);
    width: var(--navbar-width);
    max-width: 1300px;
    background-color: var(--green-color);
    border-radius: 50px;
  }
  .navbar .logo {
    width: 165px;
    height: 51px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
  }
  ul.desktopmenu,
  ul.desktoplinks {
    display: inline-flex;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    background: none;
  }
  ul.desktopmenu {
    margin: 0 0 0 calc(var(--navbar-padding) * 4);
    flex: 1;
  }
  ul.desktopmenu li.item {
    padding: 15px calc(var(--navbar-padding) * 2);
  }

  .navbar-dropdowns {
    position: absolute;
    top: 110px;
    width: 100%;
    max-width: 900px;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-dropdowns .submenu {
    background-color: var(--green-color);
    border-radius: 20px;
  }
  .navbar-dropdowns .submenu.active {
    display: inline-block;
  }
}
