@media all and (min-width: 1200px) {
  .navbar,
  .navbar-dropdowns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem auto 0;
    padding: var(--navbar-padding);
    width: var(--navbar-width);
    max-width: 1300px;
    background-color: var(--green-color);
    border-radius: 50px;
  }
  .navbar .logo {
    width: 171px;
    height: 53px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
  }
  ul.desktopmenu,
  ul.desktoplinks {
    display: inline-flex;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    background: none;
  }
  ul.desktopmenu {
    margin: 0 0 0 calc(var(--navbar-padding) * 4);
    flex: 1;
  }
  ul.desktopmenu li.item {
    padding: 15px calc(var(--navbar-padding) * 2);
  }
  ul.desktoplinks {
    align-items: center;
  }
  ul.desktoplinks li.button {
    display: flex;
    align-items: center;
    padding: 0 var(--navbar-padding);
  }

  .navbar-dropdowns {
    position: absolute;
    top: 70px;
    max-width: 1300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent; /* override */
    border-radius: 0; /* override */
    justify-content: flex-start; /* override */
    flex-wrap: nowrap; /* override */
    padding: 0; /* override */
  }
  .navbar-dropdowns::before {
    content: "";
    display: block;
    width: 199px;
    height: 51px;
  }
  .navbar-dropdowns.locations-active::before {
    display: none;
  }
  .navbar-dropdowns ul.submenu {
    background-color: var(--green-color);
    border-radius: 32px;
    padding: var(--navbar-padding);
  }
  .navbar-dropdowns ul.submenu.menu.active {
    display: flex;
  }
  .navbar-dropdowns ul.submenu.menu.active li.has-submenu.without-thumbs ul {
    margin: 0.5rem;
  }
  .navbar-dropdowns ul.submenu.menu.active li.has-submenu.with-thumbs ul {
    display: flex;
    margin: 0.5rem 0.75rem;
  }
  .navbar-dropdowns ul.submenu.menu.active li.has-submenu.with-thumbs ul li {
    display: block;
  }
  .navbar-dropdowns ul.submenu.menu.active li.has-submenu.with-thumbs ul li a {
    padding: var(--navbar-padding) calc(var(--navbar-padding) / 1.25);
  }
  .navbar-dropdowns img.featured-image {
    width: 191px;
    height: 143px;
    object-fit: cover;
    border-radius: 5px;
  }
}
