/* menupage header */
.menupage-header {
  display: flex;
  padding: 2rem 0;
}
.menupage-header .content {
  padding: 0 2rem;
}
@media screen and (min-width: 767px) {
  .menupage-header .content {
    width: calc(80% - 2rem);
  }
}

/* menupage post list */
.menupage-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: auto;
  grid-gap: 20px;
  justify-content: center;
  margin: 0 auto;
}
.menupage-thumbnail a {
  display: block;
  width: 100%;
  position: relative;
}
.menupage-thumbnail span:first-of-type {
  position: absolute;
}
.menupage-thumbnail img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  z-index: 999;

  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.menupage-thumbnail:hover img.main-image {
  opacity: 0;
}
.menupage-label button {
  margin: 1rem 0;
}
/* Single menu page */
.tab-list {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1rem auto;
  border-bottom: 1px solid var(--green-color);
}
.tab-list li {
  font-size: 1.5rem;
  line-height: 2;
  padding: 0;
  margin: 1rem 0 0 0;
}
.tab-list li.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--green-color);
}
